h1{
    color: red;
    font-family: Impact, Arial;
    font-size: 30px;
    letter-spacing: 0.1em;
    word-spacing: 0.3em;

}

h4{
    font-style: italic;
}

p{
    font-size: 18px;
    line-height: 1.8em;
    font-weight: bold;
}

h1, h2, h4 {
    text-align: center;
}

*{
    background-color: #ADD8E9;
}
